* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url("../images/xback.jpg");
    background-size: 100% 100%;


}

.jumbotron {
    background-image: url("../images/chalkboardbackground.jpg");
    color: white;
    text-align: center;
    margin-top: 20px;
    border: solid 6px rgba(231, 189, 134, 0.514);
    border-radius: 25px;
}

.button {
    background-color: azure;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 20px;
    border: solid 2px black;
}

.definition {
    height: 300px;
   /* overflow: scroll; */
    border: solid 6px rgba(231, 189, 134, 0.514);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    background-image: url("../images/chalkboardbackground.jpg");
    border-radius: 25px;
}

.firebase {
    height: 400px;
   /* overflow: scroll; */
    border: solid 6px rgba(231, 189, 134, 0.514);
    padding: 10px;
    font-size: 20px;
    color: white;
    background-image: url("../images/chalkboardbackground.jpg");
    border-radius: 25px;
}