body {
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
    background-image: url("../images/chalkboardbackground.jpg");
    color: white;
    text-align: center;
    margin-top: 20px;
    border: solid 6px rgba(231, 189, 134, 0.514);
    border-radius: 25px;
}

.button {
    background-color: azure;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 20px;
    border: solid 2px black;
}